@font-face {
    font-family: YoungSerif;
    src: url(./recursos/fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
}

@font-face {
    font-family: Outfit;
    src: url(./recursos/fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype);
}

body {
    background-color: hsl(30, 54%, 90%);
    width: 1440px;
    font-size: 15px;
    font-family: Outfit;
    color: hsl(30, 10%, 34%);
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: large;
}

.cajaGeneral {
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    border-radius: 10px;
    padding: 50px;
    margin: auto;
}

div {
    width: auto;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.preparacion {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    width: 560px;
    padding: 15px;
    margin: auto;
}

img {
    width: 600px;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: YoungSerif;
}

h2 {
    font-family: YoungSerif;
    font-size: 30px;
}

ul{
    list-style-position: inside;
    text-indent: -35px;
}

ol{
    list-style-position: inside;
    text-indent: -35px;
}