article {
  width: 500px;
  background-color: white;
  border: 1px white;
  padding: 50px;
  margin: 50px;
  margin-top: -25px;
  margin-left: 100px;
  font-size: small;
}

body {
  background-image: url(imagenes_menu_retos/fondo.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

h1 {
  font-family: "Lexend Giga";
}

p {
  font-family: "Noto Sans Mono";
}

.cielo {
  width: 410px;
}

.garabato {
  margin-left: 210px;
  margin-top: -130px;
}